<div class="container">
  <form class="example-form">
    <h2>Connexion</h2>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" type="text" [(ngModel)]="trainer.email" name="email">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" type="password" [(ngModel)]="trainer.password" name="password">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="Form()">Connexion</button>
  </form>
</div>
