.desc a {
  padding-right: 15px;
  width: 40px;
  height: 30px;
  background-color: #34495e;
  border-radius: 8px;
  line-height: 30px;
  font-size: 13px;
  display: inline-block;
  color: white;
  cursor: pointer;
  text-align: center;
  padding-left: 18px;
}
.grid1 {
  margin-left: 5em;
  position: center;
  float: left;
  width: 15em;
  text-align: center;
}
.grid2 {
  //margin-left: 20px;
  position: center;
  float: right;
  text-align:center;
  width: 20em;
}
.detail {
  margin-left: 10em;
  margin-top: 5em;
  width: 45em;
}
.desc {
  margin-left: 20px;
  width: 53em;
  position: relative;
  float: left;
  text-align: justify;
}
.grid1 img {
  width:70%;
  height: 70%;
  margin-top: 2em;
  margin-left: 6em;
}
.grid2 img {
  width:20px;
  height: 15px;
  margin-left: 10px;
}
.type {
  background-color: #eee;
  border-radius: 8px;
  font-size: 0;
}
nav {
  margin: 27px auto 0;
  position: relative;
  width: 220px;
  height: 50px;
  font-size: 0;
}
nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
  z-index: 1;
  background-color: #34495e;
  border-radius: 8px;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
  z-index: 0;
}
a:nth-child(1) {
  width: 105px;

}
a:nth-child(2) {
  width: 105px;
  margin-left: 10px;
}
